:root {
--cor-de-fundo: #00030C;
--azul-padrao: #2547B0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
    box-sizing: border-box;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

a, a:hover, a:visited {
    text-decoration: none;
}

ol, ul {
	list-style: none;
}

.home {
    background-color: var(--cor-de-fundo);
    color: #ddd;
    overflow-x: hidden;
}

.imagem-principal {
    background-image: url("./assets/img/banner-img.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right;
    height: 100vh;
    min-width: 100%;
}

img.img-logo, .btn {
    transition: 0.5s;
}

.img-logo:hover, .btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #eee;
}

.btn {
    padding: 16px 80px;
    border-radius: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.btn-principal {
    color: #fff;
    background-color: var(--azul-padrao);
    border: none;
}

.btn-secundario {
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.titulo {
    text-align: center;
    margin-bottom: 160px;
    padding-top: 80px;
    font-size: 2rem;
    font-weight: 600;
}

.sub-titulo {
    font-size: 1.6rem;
    margin-bottom: 16px;
    font-weight: 600;
}

.texto-simples {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.75rem;
}

.rodape {
    height: 40vh;
    padding-top: 180px;
    gap: 80px;
    justify-content: center;
}

@keyframes float {
    0%, 100% {
        transform: translateY(2px);
    }
    50% {
        transform: translateY(-2px);
    }
}

.elemento-flutuante {
    animation: float 0.8s infinite;
}

.btn-topo {
    position: fixed;
    bottom: 16px;
    right: 16px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: #fff 2px solid;
    background-color: #fff;
    box-shadow: #0a163b 2px 3px 1px;
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.card-contacts {
    background: rgba(7, 7, 7, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(7, 7, 7, 0.33);
}